# 판다스
## 판다스 패키지
대부분의 데이터는 시계열(series)이나 표(table)의 형태로 나타낼 수 있다.
판다스(Pandas) 패키지는 이러한 데이터를 다루기 위한 시리즈(Series) 클래스와 데이터프레임(DataFrame) 클래스를 제공한다.

### 판다스 패키지 임포트¶
판다스 패키지는 pd라는 별칭으로 임포트하는 것이 관례이다.

In [1]:
import pandas as pd

### 시리즈 클래스¶
시리즈 Series 클래스는 넘파이에서 제공하는 1차원 배열과 비슷하지만 각 데이터의 의미를 표시하는 인덱스(index)를 붙일 수 있다. 데이터 자체는 값(value)라고 한다.
=> 시리즈 = 값(value) + 인덱스(index)

#### 시리즈 생성¶
데이터를 리스트나 1차원 배열 형식으로 Series 클래스 생성자에 넣어주면 시리즈 클래스 객체를 만들 수 있다. 이 때 인덱스의 길이는 데이터의 길이와 같아야 한다.
다음 예에서 이 “서울”, “부산” 등의 문자열이 인덱스의 값이다. 인덱스의 값을 인덱스 라벨(label)이라고도 한다. 인덱스 라벨은 문자열 뿐 아니라 날짜, 시간, 정수 등도 가능하다.

In [2]:
# 각 도시의 2015년 인구 데이터를 시리즈로 만든 것
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [3]:
# 인덱스를 지정하지 않고 시리즈를 만들면 시리즈의 인덱스는 0부터 시작하는 정수값이 된다.
pd.Series(range(10,13+1))

0    10
1    11
2    12
3    13
dtype: int64

In [4]:
# 시리즈의 인덱스는 index 속성으로 접근할 수 있다.
# 시리즈의 값은 1차원 배열이며 values 속성으로 접근할 수 있다.
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [6]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있다.
# index.name 속성으로 시리즈의 인덱스에도 이름을 붙일 수 있다.
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### 시리즈 연산¶
넘파이 배열처럼 시리즈도 벡터화 연산을 할 수 있다. 연산은 시리즈의 값에만 적용되며 인덱스 값은 변하지 않는다.
예를 들어 인구 숫자를 백만 단위로 만들기 위해 시리즈 객체를 1,000,000 으로 나누어도 인덱스 라벨에는 영향을 미치지 않다.

In [7]:
s/1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱¶
시리즈는 넘파이 배열에서 가능한 인덱스 방법 이외에도 인덱스 라벨을 이용한 인덱싱도 할 수 있다. 배열 인덱싱이나 인덱스 라벨을 이용한 슬라이싱(slicing)도 가능하다.

In [8]:
# 시리즈 데이터를 인덱싱하면 값이 나온다.
s[1], s["부산"]

(3448737, 3448737)

배열 인덱싱을 하면 부분적인 값을 가지는 시리즈 자료형을 반환한다. 자료의 순서를 바꾸거나 특정한 자료만 선택할 수 있다.

In [9]:
s[[0,3,1]] # 특정 자료 선택

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [10]:
s[['서울', '부산']]

도시
서울    9904312
부산    3448737
Name: 인구, dtype: int64

In [11]:
s[(250e4 < s) & (s < 500e4)]  # 인구가 250만 초과, 500만 미만인 경우

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

슬라이싱을 해도 부분적인 시리즈를 반환한다.
문자열 라벨을 이용한 슬라이싱을 하는 경우에는 숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함!!되므로 주의

In [15]:
s[1:2+1] # 두번째(1)부터 세번째(2)까지

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [16]:
s["부산":"대구"]  # 대구 포함

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [18]:
# 라벨 값이 영문 문자열인 경우에는 인덱스 라벨이 속성인것처럼 점(.)을 이용하여 해당 인덱스 값에 접근할 수도 있다.
s0 = pd.Series(range(3), index=["a", "b", "c"])
s0

a    0
b    1
c    2
dtype: int64

In [19]:
s0.a

0

In [20]:
s0.b

1

### 시리즈와 딕셔너리 자료형¶
시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 인덱스 라벨 값을 키(key)로 가지는 딕셔너리 자료형과 같다고 볼 수 있다. 따라서 딕셔너리 자료형에서 제공하는 in 연산도 가능하고 items 메서드를 사용하면 for 루프를 통해 각 원소의 키(key)와 값(value)을 접근할 수도 있다.